@model QuanLyKhoHang.Models.SanPham

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm sản phẩm mới</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkho" class="control-label"></label>
                <select asp-for="Idkho" class ="form-control" asp-items="ViewBag.Idkho"></select>
            </div>
            <div class="form-group">
                <label asp-for="Slton" class="control-label"></label>
                <input asp-for="Slton" class="form-control" />
                <span asp-validation-for="Slton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayNhap" class="control-label"></label>
                <input asp-for="NgayNhap" class="form-control" />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnpp" class="control-label"></label>
                <select asp-for="Idnpp" class ="form-control" asp-items="ViewBag.Idnpp"></select>
            </div>
            <div class="form-group">
                <label asp-for="Iddm" class="control-label"></label>
                <select asp-for="Iddm" class ="form-control" asp-items="ViewBag.Iddm"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idhxx" class="control-label"></label>
                <select asp-for="Idhxx" class ="form-control" asp-items="ViewBag.Idhxx"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
