@model QuanLyKhoHang.Models.HangSanXuat

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết hãng sản xuất</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nhà sản xuất
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNxx)
        </dd>
        <dt class = "col-sm-2">
            Ghi chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaNxx">Edit</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
