@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://inlonggia.com/wp-content/uploads/Background-vector-dep.jpg");
            background-repeat: no-repeat;
            background-size: 1900px 1000px;
        }
    </style>
</head>
<body>
    <h1 style="color:white;text-align:center">HỆ THỐNG QUẢN LÝ KHO</h1>

</body>
</html>
